<section class="conteo">
    <div class="Title">
        <h2>Conteo</h2>
    </div>
    <div class="divFind">
        <input type="text" name="txtFind2" id="txtFind2" class="txtFind2" placeholder="Buscar un Juego"
            autocomplete="off">
    </div>
    <div class="cards" id="cards">
        <!-- <div class="card">
            <div class="cardImg">
                <img src="http://res.cloudinary.com/ddnzwfrmo/image/upload/v1636490166/bpxlahbyccd3wzp9cy49.jpg" alt="">
            </div>
            <div class="cardContent">
                <h1>Mario Bros</h1>
                <h1>Votos</h1>
                <h1>24</h1>
            </div>
        </div> -->


    </div>
</section>