<!-- TITTLE -->
<div class="tittleHome">
    <h1 class="titleHome">VOTOS JUEGOS</h1>
</div>

<div class="divHome">

    <!-- FORM -->
    <div class="form">
        <div class="formNombre">
            <label for="nombre">Nombre</label>
            <input type="text" name='nombre' id='nombre' autocomplete="off"><br>
        </div>

        <div class="formImage">
            <label for="image">Imagen</label>
            <input type="file" id="image" name="image"><br>
        </div>
        <button class="btnSaveGame" id="btnSaveGame">SALVAR JUEGO</button>
    </div>

    <!-- TABLE -->
    <div class="divTableGames">
        <table class="tableGames">
            <thead>
                <tr class="1tr">
                    <th>NOMBRE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody class="tbody" id="tbody">

            </tbody>
            <!-- <tr>
                    <td>hello</td>
                    <td>Actulizar/Borrar</td>
                </tr>
                <tr>
                    <td>hello</td>
                <td>Actulizar/Borrar</td>
            </tr> -->
        </table>
    </div>
</div>