<section class="votarSection">
    <div class="titleDiv">
        <h1>VOTAR</h1>
    </div>
    <div class="buscarDiv">
        <input type="text" class="txtBuscarAGame" name="txtNBuscar" id="txtIBuscar" placeholder="Buscar un Juego"
            autocomplete="off">
    </div>
    <div class="cardsDiv" id="cardsDiv">
        <!-- <div class="cardDiv">
            <div class="cardImg">
                <img src="http://res.cloudinary.com/ddnzwfrmo/image/upload/v1636490166/bpxlahbyccd3wzp9cy49.jpg" alt="">
            </div>
            <div class="cardContent">
                <h3>Megan Man</h3>
                <button class="btnVotar">Botar</button>
            </div>
        </div> -->
    </div>
</section>