* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.3rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.navBar {
  background-color: #46658C;
}

.navBar .navBarNav {
  min-height: 10vh;
  padding: 2rem;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .navBarNav .navBarLogo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.navBar .navBarNav .navBarLogo img {
  width: 3.2rem;
  cursor: pointer;
}

.navBar .navBarNav .navBarULinks {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .navBarNav .navBarULinks li a {
  color: white;
}

.tittleHome {
  width: 95%;
  margin: auto;
}

.tittleHome .titleHome {
  text-align: center;
  margin: 2rem;
  font-size: 4rem;
}

.divHome {
  width: 95%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divHome .form {
  margin: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  width: 40%;
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.divHome .form .formNombre,
.divHome .form .formImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divHome .form .formNombre input,
.divHome .form .formImage input {
  margin-left: 3rem;
  width: 100%;
  padding: 0rem 1rem;
}

.divHome .form .btnSaveGame {
  height: 4rem;
  border: none;
  background-color: #46658C;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.divHome .form .btnSaveGame:hover {
  background-color: #537db1;
  height: 4.3rem;
}

.divHome .divTableGames {
  margin: 1.5rem;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  width: 100%;
}

.divHome .divTableGames .tableGames {
  width: 100%;
  border-radius: 1rem;
  font-size: 3rem;
  border: 1px black;
}

.divHome .divTableGames .tableGames th {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #D93644;
  color: white;
  font-size: 2.3rem;
  padding: 1rem;
}

.divHome .divTableGames .tableGames td {
  background-color: #f3eaea;
  padding: 0.8rem 2.5rem;
  text-align: center;
}

.btnDetalle,
.btnEliminar {
  border: none;
  border-radius: 0.7rem;
  color: white;
  padding: 0.8rem;
  margin: 0rem 1rem;
  cursor: pointer;
}

.btnDetalle {
  background-color: #46658C;
}

.btnEliminar {
  background-color: #F27979;
}

.image {
  margin-left: -15px !important;
  visibility: hidden;
  display: none;
}

.lbl1 {
  margin-right: 1rem;
}

.lbl2 {
  margin-right: 1rem;
  background-color: #F27979;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 20rem;
  white-space: nowrap;
  color: white;
}

.formImage {
  position: relative;
}

.fileTxt {
  margin-left: -10px !important;
}

.loadingDiv {
  text-align: center;
  width: 100%;
}

.loadingDiv img {
  height: 10.5rem;
  margin-top: 6rem;
}

.notiDiv {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}

.notiDiv .notiDivDiv {
  display: none;
  background-color: red;
  width: 30%;
  margin: auto;
  min-height: 5vh;
  padding: 2rem 0rem;
  border-radius: 0.8rem;
  position: relative;
}

.notiDiv .notiDivDiv .closeBtn {
  font-size: 2.6rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
}

.notiDiv .notiDivDiv label {
  color: white;
}

.imgPreview {
  max-width: 30rem;
  max-height: 30rem;
}

.modalUpdate {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalUpdate .modal {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 0.8rem;
  padding: 3rem;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.modalUpdate .modal .modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalUpdate .modal .modalContent .divInputImageModal {
  margin-bottom: 1rem;
}

.modalUpdate .modal .modalContent .fileTxt2 {
  margin-left: 3rem;
  margin-left: -11px !important;
  width: 18.5rem;
  height: 3.7rem;
  padding: 0rem 1rem;
}

.modalUpdate .modal .modalContent .divContentText {
  margin-left: 2.5rem;
}

.modalUpdate .modal .modalContent .divContentText textarea {
  margin-top: 2rem;
  height: 25rem;
}

.modalUpdate .modal .imgModal {
  width: 100%;
}

.modalUpdate .divBtnModal {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalUpdate .btnUpdateModal {
  width: 50%;
  margin-right: 1rem;
  border: none;
  border-radius: 0.7rem;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 0.8rem;
}

.modalUpdate .btnCancelModal {
  width: 50%;
  border: none;
  border-radius: 0.7rem;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.8rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */